@import './common.scss';
h1 {
  color: red;
  font-size: 30px;
}
.get-info {
  width: 100px;
  text-align: center;
  line-height: 30px;
  background: grey;
  color: #fff;
  font-size: 18px;
}

.order-wrapper {
  margin: 40px auto;
  max-width: 960px!important;
  list-style: none;
}